@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.App {
  text-align: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.heading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  box-shadow: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 32px;
  border-bottom: 4px solid #337778;
  z-index: 100;
}

.header-logo {
  height: 55px;
  padding: 1px 0;
}

.heading-text {
  font-size: 24px;
  font-weight: 600;
  color: black;
  /* color: #337778; */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-logo {
  height: 40px;
  margin-right: 12px;
}

/* Hide header logo on mobile devices */
@media screen and (max-width: 768px) {
  .header-logo {
    display: none;
  }
  
  .heading {
    justify-content: center;
    padding: 0 16px;
  }
  
  .heading-text {
    position: static;
    transform: none;
  }
}
